body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 14pt;
    font-style: italic;
    text-align: right;
}

a {
    text-decoration: none;
    color: green;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: blueviolet;
    background-color: blanchedalmond;
}
