body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

header:hover {
    background-image: linear-gradient(to left bottom, black, green, red, yellow);
    color: lightcoral;
}

footer {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: lightgreen;
    padding: 10px;
    font-size: 14pt;
    font-style: italic;
    text-align: right;
    position: fixed;
    width: 100%;
    transition: 650ms;
    bottom: 0%;
}

footer:not(hover) {
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: green;
    transition-duration: 1s;
    text-shadow: 5px 4px 2px grey;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition-timing-function: ease-out;
    transition-delay: 0.3;
}

a:active {
    color: blueviolet;
    background-color: blanchedalmond;
}
